@import '../../styles/variables';

.input {
  color: $gray-2;
  padding: 1rem 1rem 1rem 2.5rem;
  background-repeat: no-repeat;
  background-size: 1.125rem 0.875rem;
  background-position: 1rem center;
  outline: none;
  border-radius: $border-radius;
  border: 0;

  &[disabled] {
    cursor: not-allowed;
  }

  &[error] {
    background-color: red;
  }

  &::placeholder {
    color: $gray-1;
  }
}
