@import '../../styles/variables';

@mixin button-style($button-color, $hover-color) {
  cursor: pointer;
  border: none;
  background-color: $button-color;
  transition: $fade;
  &:hover {
    background-color: $hover-color;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  border: 0;
  outline: none;

  &[disabled] {
    background-color: $gray-1;
    color: $white;
    cursor: not-allowed;
    &:hover {
      background-color: $gray-2;
    }
  }

  &--primary {
    @include button-style($green-base, $green-2);
    color: $white;
  }

  &--secondary {
    @include button-style($white, $green-1);
    color: $blue-base;
  }

  &--big {
    font-weight: $font-weight-bold;
  }

  &--small {
    height: 2.625rem;
    width: 5.5rem;
    font-size: $font-size-sm;
  }

  &__text {
    margin: 0 0.6em 0 0.6em;
  }

  &__spinner {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
