// Base colors
$green-base: #9fd533;
$green-1: #99cc33;
$green-2: #86b300;
$gray-base: #f5f5f5;
$gray-1: #b3b3b3;
$gray-2: #999;
$gray-3: #e6e6e6;
$gray-4: #666666;
$blue-base: #2f3254;
$white: #fff;
$error-red: #ed4337;
// Fonts
$font-family: 'Roboto', monospace;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-weight-bold: bold;
// Transitions
$fade: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
//Borders
$border-radius: 0.25rem;
