@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: $font-family;
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
