@import '../../styles/variables';

.container {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../styles/assets/bg.png');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-width: 80%;
  margin-bottom: 2rem;
}

.error-message {
  height: 1rem;
  color: $error-red;
}

.form {
  width: 22.7rem;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  &__control {
    margin-top: 1.125rem;
    width: 100%;
    height: 3.625rem;

    &--username {
      position: relative;
      background-image: url('../../styles/assets/icon-person.svg');
    }

    &--password {
      position: relative;
      background-image: url('../../styles/assets/icon-lock.svg');
    }
  }
}
